S3ModelTester/schemas/test-cm-3.xsd

<?xml version='1.0' encoding='UTF-8'?>
<?xml-stylesheet type='text/xsl' href='cm-description.xsl'?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
  xmlns:owl="http://www.w3.org/2002/07/owl#" xmlns:dct="http://purl.org/dc/terms/"
  xmlns:foaf="http://xmlns.com/foaf/0.1/" xmlns:sawsdl="http://www.w3.org/ns/sawsdl"
  xmlns:sawsdlrdf="http://www.w3.org/ns/sawsdl#" xmlns:rdfs="http://www.w3.org/2000/01/rdf-schema#"
  xmlns:vc="http://www.w3.org/2007/XMLSchema-versioning" xmlns:s3m="http://www.s3model.com/"
  targetNamespace="http://www.s3model.com/" xml:lang="en-US">

  <!-- Include the Reference Model -->
  <xs:include schemaLocation="http://www.s3model.com/rm/s3model_1_0_0.xsd"/>

  <xs:complexType name="ct-15ca606c-303a-4862-8f5e-df8f39e8bfc3">
    <xs:annotation>
      <xs:appinfo>
        <rdf:Description rdf:about="http://www.s3model.com/lib/el-15ca606c-303a-4862-8f5e-df8f39e8bfc3.xsd">
          <dct:title xml:lang="en">Testing 1.0.0 Implementation</dct:title>
          <dct:creator>
            <foaf:Person>
              <foaf:name>Tim Cook</foaf:name>
              <foaf:mbox>tim@mlhim.org</foaf:mbox>
            </foaf:Person>
          </dct:creator>
          <!-- If contributors exist they should be included here using dct:contributor terms, formatted like the dct:creator. -->
          <dct:rightsHolder>
            <foaf:Person>
              <foaf:name>Tim Cook</foaf:name>
              <foaf:mbox>tim@mlhim.org</foaf:mbox>
            </foaf:Person>
          </dct:rightsHolder>
          <dct:license rdf:value="http://creativecommons.org/licenses/by/3.0/"/>
          <!-- If this model is related to other models they should be included here using dct:relation with the value set to the value of their rdf:about URI -->
          <dct:issued>2015-03-24</dct:issued>
          <dct:format rdf:value="text/xml"/>
          <dct:language rdf:value="en-US"/>
          <dct:abstract>
            This is an example Concept Model (CM) for the S3Model Reference Model release 1.0.0
          </dct:abstract>
        </rdf:Description>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:restriction base="s3m:ConceptType">
        <xs:sequence>
          <xs:element maxOccurs="1" minOccurs="1" name="language" type="xs:language" fixed="en-US"/>
          <xs:element maxOccurs="1" minOccurs="1" name="encoding" type="xs:string" fixed="utf-8"/>
          <xs:element maxOccurs="1" minOccurs="0" name="current-state" type="xs:string" default="testing me"/>
          <xs:element maxOccurs="1" minOccurs="1" name="data"
            type="s3m:ct-96f910e1-8f1e-4a54-a19f-47722ddd91d3"/>
          <!-- Data -->
          <xs:element maxOccurs="1" minOccurs="0" name="subject"
            type="s3m:ct-76d5279d-8557-4eb7-9722-1ad858c00e3c"/>
          <!-- Subject -->
          <xs:element maxOccurs="1" minOccurs="0" name="protocol"
            type="s3m:ct-39a03554-7f19-4e08-a608-b36e42f1fc15"/>
          <!-- Protocol -->
          <xs:element maxOccurs="1" minOccurs="0" name="workflow"
            type="s3m:ct-5327bf3f-5ecb-47b5-b358-63bb5f277ddf"/>
          <!-- Workflow -->
          <xs:element maxOccurs="1" minOccurs="0" name="attested"
            type="s3m:ct-43c7bf17-94e6-46da-ba44-f98d269fcd32"/>
          <!-- Attestation -->
          <xs:element maxOccurs="1" minOccurs="0" ref="s3m:el-c37d801a-9f1b-4ef9-97e4-561bbffb8750"/>
          <!-- Participations -->
          <xs:element maxOccurs="1" minOccurs="0" ref="s3m:el-c37d801a-9f1b-4ef9-97e4-561bbffb8751"/>
          <!-- Participations 2 -->
          <xs:element maxOccurs="1" minOccurs="0" ref="s3m:el-66977c1c-2da0-4cd9-ba0b-aa90a2943a16"/>
          <!-- Audit -->
          <xs:element maxOccurs="1" minOccurs="0" ref="s3m:el-5f69d093-dfbc-4c07-be7f-ed96c9db5f1f"/>
          <!-- Link -->
          <xs:element maxOccurs="1" minOccurs="0" ref="s3m:el-7b1c4fad-90f9-4d28-af58-3e59ecb00066"/>
          <!-- Link -->
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="ct-5f69d093-dfbc-4c07-be7f-ed96c9db5f1f" xml:lang="en-US">
    <xs:annotation>
      <xs:documentation>
      attached to
    </xs:documentation>
      <xs:appinfo>
        <rdf:Description rdf:about="http://www.s3model.com/rm/s3m:ct-5f69d093-dfbc-4c07-be7f-ed96c9db5f1f">
          <rdfs:subClassOf rdf:resource="s3m:DvLinkType"/>
          <rdfs:label>attached to</rdfs:label>
          <rdfs:isDefinedBy rdf:resource="http%3A//purl.obolibrary.org/obo/RO_0002371"/>
        </rdf:Description>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:restriction base="s3m:DvBadType">
        <xs:sequence>
          <xs:element maxOccurs="1" minOccurs="1" name="data-name" type="xs:string" fixed="attached to"/>
          <xs:element maxOccurs="1" minOccurs="0" ref="s3m:ExceptionalValue"/>
          <xs:element maxOccurs="1" minOccurs="0" name="vtb" type="xs:dateTime"/>
          <xs:element maxOccurs="1" minOccurs="0" name="vte" type="xs:dateTime"/>
          <xs:element maxOccurs="1" minOccurs="1" name="link-value" type="xs:anyURI"/>
          <xs:element maxOccurs="1" minOccurs="1" name="relation" type="xs:string"
            fixed="http://purl.obolibrary.org/obo/RO_0002371"/>
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>



  <xs:complexType name="ct-7b1c4fad-90f9-4d28-af58-3e59ecb00066" xml:lang="en-US">
    <xs:annotation>
      <xs:documentation>
       X connected_to Y if and only if X and Y share a fiat boundary.
    </xs:documentation>
      <xs:appinfo>
        <rdf:Description rdf:about="http://www.s3model.com/rm/s3m:ct-7b1c4fad-90f9-4d28-af58-3e59ecb00066">
          <rdfs:subClassOf rdf:resource="s3m:DvLinkType"/>
          <rdfs:label>Connected To</rdfs:label>
          <rdfs:isDefinedBy rdf:resource="http%3A//purl.obolibrary.org/obo/RO_0002150"/>
        </rdf:Description>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:restriction base="s3m:DvLinkType">
        <xs:sequence>
          <xs:element maxOccurs="1" minOccurs="1" name="data-name" type="xs:string" fixed="Connected To"/>
          <xs:element maxOccurs="1" minOccurs="0" ref="s3m:ExceptionalValue"/>
          <xs:element maxOccurs="1" minOccurs="0" name="vtb" type="xs:dateTime"/>
          <xs:element maxOccurs="1" minOccurs="0" name="vte" type="xs:dateTime"/>
          <xs:element maxOccurs="1" minOccurs="1" name="link-value" type="xs:anyURI"/>
          <xs:element maxOccurs="1" minOccurs="1" name="relation" type="xs:string" fixed="connected to"/>
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="ct-66977c1c-2da0-4cd9-ba0b-aa90a2943a16" xml:lang="en-US">
    <xs:annotation>
      <xs:documentation>
      Test audit
    </xs:documentation>
      <xs:appinfo>
        <rdf:Description rdf:about="http://www.s3model.com/rm/s3m:ct-66977c1c-2da0-4cd9-ba0b-aa90a2943a16">
          <rdfs:subClassOf rdf:resource="s3m:AuditType"/>
          <rdfs:isDefinedBy rdf:resource="http%3Awww.s3model.com"/>
        </rdf:Description>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:restriction base="s3m:AuditType">
        <xs:sequence>
          <xs:element maxOccurs="1" minOccurs="1" ref="s3m:el-53e08f93-1549-4303-9212-74ed11ed7d3a"/>
          <!-- system-id -->
          <xs:element maxOccurs="1" minOccurs="0" ref="s3m:el-1386c587-b06f-4de5-ab67-30ecd036902e"/>
          <!-- system-user -->
          <xs:element maxOccurs="1" minOccurs="0" ref="s3m:el-5e21cf59-9c13-4f67-918a-e0aee1f64edf"/>
          <!-- location -->
          <xs:element maxOccurs="1" minOccurs="1" name="timestamp" type="xs:dateTime"/>
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>



  <xs:complexType name="ct-53e08f93-1549-4303-9212-74ed11ed7d3a" xml:lang="en-US">
    <xs:annotation>
      <xs:documentation>
      A reusable system ID 
    </xs:documentation>
      <xs:appinfo>
        <rdf:Description rdf:about="http://www.s3model.com/rm/s3m:ct-53e08f93-1549-4303-9212-74ed11ed7d3a">
          <rdfs:subClassOf rdf:resource="s3m:DvIdentifierType"/>
          <rdfs:label>Originating System ID</rdfs:label>
          <rdfs:isDefinedBy rdf:resource="http%3Awww.s3model.com"/>
        </rdf:Description>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:restriction base="s3m:DvStringType">
        <xs:sequence>
          <xs:element maxOccurs="1" minOccurs="1" name="data-name" type="xs:string"
            fixed="Originating System ID"/>
          <xs:element maxOccurs="1" minOccurs="0" ref="s3m:ExceptionalValue"/>
          <xs:element maxOccurs="1" minOccurs="0" name="vtb" type="xs:dateTime"/>
          <xs:element maxOccurs="1" minOccurs="0" name="vte" type="xs:dateTime"/>
          <xs:element maxOccurs="1" minOccurs="0" name="dvstring-value">
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:enumeration value="URI">
                  <xs:annotation>
                    <xs:appinfo>
                      URI
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="ID Number">
                  <xs:annotation>
                    <xs:appinfo>
                      ID Number
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element maxOccurs="1" minOccurs="0" name="language" type="xs:language"/>
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>



  <xs:complexType name="ct-1386c587-b06f-4de5-ab67-30ecd036902e" xml:lang="en-US">
    <!-- Audit Details Provider (US) -->
    <xs:annotation>
      <xs:documentation>
      A generic Concept provider.
    </xs:documentation>
      <xs:appinfo>
        <rdf:Description rdf:about="http://www.s3model.com/rm/s3m:ct-1386c587-b06f-4de5-ab67-30ecd036902e">
          <rdfs:subClassOf rdf:resource="s3m:PartyType"/>
          <rdfs:isDefinedBy rdf:resource="http%3Awww.s3model.com/generic_pcts"/>
        </rdf:Description>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:restriction base="s3m:PartyType">
        <xs:sequence>
          <xs:element maxOccurs="1" minOccurs="1" name="party-name" type="xs:string"/>
          <xs:element maxOccurs="1" minOccurs="0" name="party-ref"
            type="s3m:ct-c35f232c-cbe0-4cd9-a809-bbd34157b962"/>
          <!-- external-ref -->
          <xs:element maxOccurs="1" minOccurs="0" name="party-details"
            type="s3m:ct-38afb8ac-985e-48bc-ab05-45cdecb5f5c2"/>
          <!-- details -->
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>



  <xs:complexType name="ct-c35f232c-cbe0-4cd9-a809-bbd34157b962" xml:lang="en-US">
    <!-- External Reference for Party -->
    <xs:annotation>
      <xs:documentation>
      A generic URI for use with Party to be used as a pointer to a demographic service record.
    </xs:documentation>
      <xs:appinfo>
        <rdf:Description rdf:about="http://www.s3model.com/rm/s3m:ct-c35f232c-cbe0-4cd9-a809-bbd34157b962">
          <rdfs:subClassOf rdf:resource="s3m:DvLinkType"/>
          <rdfs:label>External Reference for Party</rdfs:label>
          <rdfs:isDefinedBy rdf:resource="http%3Awww.s3model.com/generic_pcts"/>
        </rdf:Description>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:restriction base="s3m:DvLinkType">
        <xs:sequence>
          <xs:element maxOccurs="1" minOccurs="1" name="data-name" type="xs:string"
            fixed="External Reference for Party"/>
          <xs:element maxOccurs="1" minOccurs="0" ref="s3m:ExceptionalValue"/>
          <xs:element maxOccurs="1" minOccurs="0" name="vtb" type="xs:dateTime"/>
          <xs:element maxOccurs="1" minOccurs="0" name="vte" type="xs:dateTime"/>
          <xs:element maxOccurs="1" minOccurs="1" name="link-value" type="xs:anyURI"/>
          <xs:element maxOccurs="1" minOccurs="1" name="relation" type="xs:string"
            fixed="Party Associated with the record"/>
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="ct-38afb8ac-985e-48bc-ab05-45cdecb5f5c2">
    <!-- Address Details (US) -->
    <xs:annotation>
      <xs:documentation>
      Generic Details cluster with address elements.
    </xs:documentation>
      <xs:appinfo>
        <rdf:Description rdf:about="http://www.s3model.com/rm/s3m:ct-38afb8ac-985e-48bc-ab05-45cdecb5f5c2">
          <rdfs:subClassOf rdf:resource="s3m:ClusterType"/>
          <rdfs:label>Address Details (US)</rdfs:label>
          <rdfs:isDefinedBy rdf:resource="http%3Awww.s3model.com/generic_pcts"/>
        </rdf:Description>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:restriction base="s3m:ClusterType">
        <xs:sequence>
          <xs:element maxOccurs="1" minOccurs="1" name="cluster-subject" type="xs:string"
            fixed="Address Details (US)"/>
          <xs:element maxOccurs="1" minOccurs="0" ref="s3m:el-d24affc1-a9ff-487a-9029-204f3b4d8e7e"/>
          <!-- DvString Additional Address Line(s) (US)  -->
          <xs:element maxOccurs="1" minOccurs="0" ref="s3m:el-b65ea20c-3768-45cd-a059-004ece61bc89"/>
          <!-- DvString City Name (US) -->
          <xs:element maxOccurs="1" minOccurs="0" ref="s3m:el-77848a52-5adb-41b2-89d6-f8fec018c05a"/>
          <!-- DvString Common Name / Nickname -->
          <xs:element maxOccurs="1" minOccurs="0" ref="s3m:el-2bb59f5a-223e-4b8e-b63f-ed8beb62849e"/>
          <!-- DvString State Abbreviation (USPS) -->
          <xs:element maxOccurs="1" minOccurs="0" ref="s3m:el-caa2be1d-3e6c-4cea-b44c-9829d7b23b3f"/>
          <!-- DvString Street Number and Name (US) -->
          <xs:element maxOccurs="1" minOccurs="0" ref="s3m:el-13354334-0250-4041-8b6c-ac7eefa93c88"/>
          <!-- DvString Telephone Number (US) -->
          <xs:element maxOccurs="1" minOccurs="0" ref="s3m:el-c64b7604-6189-412d-bb70-48baba85f366"/>
          <!-- DvString Zip Code (US) -->
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="ct-74cb0edc-76c3-45d2-bd36-13b10cdc289d" xml:lang="en-US">
    <!-- Additional Address Line(s) (US)  -->
    <xs:annotation>
      <xs:documentation>
      Used for additional address lines in the US such as building name or apartment number.
    </xs:documentation>
      <xs:appinfo>
        <rdf:Description rdf:about="http://www.s3model.com/rm/s3m:ct-74cb0edc-76c3-45d2-bd36-13b10cdc289d">
          <rdfs:subClassOf rdf:resource="s3m:DvStringType"/>
          <rdfs:label>Additional Address Line(s) (US)</rdfs:label>
        </rdf:Description>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:restriction base="s3m:DvStringType">
        <xs:sequence>
          <xs:element maxOccurs="1" minOccurs="1" name="data-name" type="xs:string"
            fixed="Additional Address Line(s) (US)"/>
          <xs:element maxOccurs="1" minOccurs="0" ref="s3m:ExceptionalValue"/>
          <xs:element maxOccurs="1" minOccurs="0" name="vtb" type="xs:dateTime"/>
          <xs:element maxOccurs="1" minOccurs="0" name="vte" type="xs:dateTime"/>
          <xs:element maxOccurs="1" minOccurs="1" name="dvstring-value" type="xs:string"/>
          <xs:element maxOccurs="1" minOccurs="0" name="language" type="xs:language"/>
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>

  <xs:element name="el-d24affc1-a9ff-487a-9029-204f3b4d8e7e" substitutionGroup="s3m:Items"
    type="s3m:ct-d24affc1-a9ff-487a-9029-204f3b4d8e7e"/>
  <xs:complexType name="ct-d24affc1-a9ff-487a-9029-204f3b4d8e7e">
    <!-- Adapter for: Additional Address Line(s) (US)  -->
    <xs:complexContent>
      <xs:restriction base="s3m:DvAdapterType">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" ref="s3m:el-74cb0edc-76c3-45d2-bd36-13b10cdc289d"/>
          <!-- Reference to: Additional Address Line(s) (US)  -->
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="ct-4bce07e8-9bae-45e8-bf80-4db86b57bc93" xml:lang="en-US">
    <!-- City Name (US) -->
    <xs:annotation>
      <xs:documentation>
      Used in US address cluster for the City name.
    </xs:documentation>
      <xs:appinfo>
        <rdf:Description rdf:about="http://www.s3model.com/rm/s3m:ct-4bce07e8-9bae-45e8-bf80-4db86b57bc93">
          <rdfs:subClassOf rdf:resource="s3m:DvStringType"/>
          <rdfs:label>City Name (US)</rdfs:label>
        </rdf:Description>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:restriction base="s3m:DvStringType">
        <xs:sequence>
          <xs:element maxOccurs="1" minOccurs="1" name="data-name" type="xs:string" fixed="City Name (US)"/>
          <xs:element maxOccurs="1" minOccurs="0" ref="s3m:ExceptionalValue"/>
          <xs:element maxOccurs="1" minOccurs="0" name="vtb" type="xs:dateTime"/>
          <xs:element maxOccurs="1" minOccurs="0" name="vte" type="xs:dateTime"/>
          <xs:element maxOccurs="1" minOccurs="1" name="dvstring-value" type="xs:string"/>
          <xs:element maxOccurs="1" minOccurs="0" name="language" type="xs:language"/>
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>

  <xs:element name="el-b65ea20c-3768-45cd-a059-004ece61bc89" substitutionGroup="s3m:Items"
    type="s3m:ct-b65ea20c-3768-45cd-a059-004ece61bc89"/>
  <xs:complexType name="ct-b65ea20c-3768-45cd-a059-004ece61bc89">
    <!-- Adapter for: City Name (US) -->
    <xs:complexContent>
      <xs:restriction base="s3m:DvAdapterType">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" ref="s3m:el-4bce07e8-9bae-45e8-bf80-4db86b57bc93"/>
          <!-- Reference to: City Name (US) -->
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="ct-d1a90620-0c72-4aa2-ac6a-53c2b839b414" xml:lang="en-US">
    <!-- Common Name / Nickname -->
    <xs:annotation>
      <xs:documentation>
      A name that is commonly used for a person.  Such as Jim for James or Peggy for Margaret. 
    </xs:documentation>
      <xs:appinfo>
        <rdf:Description rdf:about="http://www.s3model.com/rm/s3m:ct-d1a90620-0c72-4aa2-ac6a-53c2b839b414">
          <rdfs:subClassOf rdf:resource="s3m:DvStringType"/>
          <rdfs:label>Common Name / Nickname</rdfs:label>
        </rdf:Description>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:restriction base="s3m:DvStringType">
        <xs:sequence>
          <xs:element maxOccurs="1" minOccurs="1" name="data-name" type="xs:string"
            fixed="Common Name / Nickname"/>
          <xs:element maxOccurs="1" minOccurs="0" ref="s3m:ExceptionalValue"/>
          <xs:element maxOccurs="1" minOccurs="0" name="vtb" type="xs:dateTime"/>
          <xs:element maxOccurs="1" minOccurs="0" name="vte" type="xs:dateTime"/>
          <xs:element maxOccurs="1" minOccurs="1" name="dvstring-value" type="xs:string"/>
          <xs:element maxOccurs="1" minOccurs="0" name="language" type="xs:language"/>
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>

  <xs:element name="el-77848a52-5adb-41b2-89d6-f8fec018c05a" substitutionGroup="s3m:Items"
    type="s3m:ct-77848a52-5adb-41b2-89d6-f8fec018c05a"/>
  <xs:complexType name="ct-77848a52-5adb-41b2-89d6-f8fec018c05a">
    <!-- Adapter for: Common Name / Nickname -->
    <xs:complexContent>
      <xs:restriction base="s3m:DvAdapterType">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" ref="s3m:el-d1a90620-0c72-4aa2-ac6a-53c2b839b414"/>
          <!-- Reference to: Common Name / Nickname -->
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="ct-785c0d1d-fb0c-4424-b967-99ab869c3ab1" xml:lang="en-US">
    <!-- State Abbreviation (USPS) -->
    <xs:annotation>
      <xs:documentation>
      Used in US address cluster for two character US state abbreviation.
    </xs:documentation>
      <xs:appinfo>
        <rdf:Description rdf:about="http://www.s3model.com/rm/s3m:ct-785c0d1d-fb0c-4424-b967-99ab869c3ab1">
          <rdfs:subClassOf rdf:resource="s3m:DvStringType"/>
          <rdfs:label>State Abbreviation (USPS)</rdfs:label>
        </rdf:Description>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:restriction base="s3m:DvStringType">
        <xs:sequence>
          <xs:element maxOccurs="1" minOccurs="1" name="data-name" type="xs:string"
            fixed="State Abbreviation (USPS)"/>
          <xs:element maxOccurs="1" minOccurs="0" ref="s3m:ExceptionalValue"/>
          <xs:element maxOccurs="1" minOccurs="0" name="vtb" type="xs:dateTime"/>
          <xs:element maxOccurs="1" minOccurs="0" name="vte" type="xs:dateTime"/>
          <xs:element maxOccurs="1" minOccurs="1" name="dvstring-value">
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:enumeration value="AL">
                  <xs:annotation>
                    <xs:documentation>Alabama</xs:documentation>
                    <xs:appinfo>
                      <rdf:Description
                        rdf:about="s3m:el-785c0d1d-fb0c-4424-b967-99ab869c3ab1/dvstring-value#AL">
                        <rdfs:isDefinedBy rdf:resource="http://www.loc.gov/mads/rdf/v1#"/>
                        <owl:sameAs rdf:resource="http://id.loc.gov/vocabulary/countries/alu"/>
                      </rdf:Description>
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="AK">
                  <xs:annotation>
                    <xs:appinfo>
                      Alaska
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="AS">
                  <xs:annotation>
                    <xs:appinfo>
                      American Samoa
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="AZ">
                  <xs:annotation>
                    <xs:appinfo>
                      Arizona
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="AR">
                  <xs:annotation>
                    <xs:appinfo>
                      Arkansas
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="CA">
                  <xs:annotation>
                    <xs:appinfo>
                      California
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="CO">
                  <xs:annotation>
                    <xs:appinfo>
                      Colorado
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="CT">
                  <xs:annotation>
                    <xs:appinfo>
                      Connecticut
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="DE">
                  <xs:annotation>
                    <xs:appinfo>
                      Delaware
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="DC">
                  <xs:annotation>
                    <xs:appinfo>
                      District of Columbia
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="FM">
                  <xs:annotation>
                    <xs:appinfo>
                      Federated States of Micronesia
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="FL">
                  <xs:annotation>
                    <xs:appinfo>
                      Florida
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="GA">
                  <xs:annotation>
                    <xs:appinfo>
                      Georgia
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="GU">
                  <xs:annotation>
                    <xs:appinfo>
                      Guam
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="HI">
                  <xs:annotation>
                    <xs:appinfo>
                      Hawaii
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="ID">
                  <xs:annotation>
                    <xs:appinfo>
                      Idaho
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="IL">
                  <xs:annotation>
                    <xs:appinfo>
                      Illinois
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="IN">
                  <xs:annotation>
                    <xs:appinfo>
                      Indiana
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="IA">
                  <xs:annotation>
                    <xs:appinfo>
                      Iowa
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="KS">
                  <xs:annotation>
                    <xs:appinfo>
                      Kansas
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="KY">
                  <xs:annotation>
                    <xs:appinfo>
                      Kentucky
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="LA">
                  <xs:annotation>
                    <xs:appinfo>
                      Louisiana
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="ME">
                  <xs:annotation>
                    <xs:appinfo>
                      Maine
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="MH">
                  <xs:annotation>
                    <xs:appinfo>
                      Marshall Islands
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="MD">
                  <xs:annotation>
                    <xs:appinfo>
                      Maryland
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="MA">
                  <xs:annotation>
                    <xs:appinfo>
                      Massachusetts
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="MI">
                  <xs:annotation>
                    <xs:appinfo>
                      Michigan
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="MN">
                  <xs:annotation>
                    <xs:appinfo>
                      Minnesota
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="MS">
                  <xs:annotation>
                    <xs:appinfo>
                      Mississippi
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="MO">
                  <xs:annotation>
                    <xs:appinfo>
                      Missouri
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="MT">
                  <xs:annotation>
                    <xs:appinfo>
                      Montana
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="NE">
                  <xs:annotation>
                    <xs:appinfo>
                      Nebraska
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="NV">
                  <xs:annotation>
                    <xs:appinfo>
                      Nevada
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="NH">
                  <xs:annotation>
                    <xs:appinfo>
                      New Hampshire
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="NJ">
                  <xs:annotation>
                    <xs:appinfo>
                      New Jersey
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="NM">
                  <xs:annotation>
                    <xs:appinfo>
                      New Mexico
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="NY">
                  <xs:annotation>
                    <xs:appinfo>
                      New York
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="NC">
                  <xs:annotation>
                    <xs:appinfo>
                      North Carolina
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="ND">
                  <xs:annotation>
                    <xs:appinfo>
                      North Dakota
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="MP">
                  <xs:annotation>
                    <xs:appinfo>
                      Northern Mariana Islands
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="CM">
                  <xs:annotation>
                    <xs:appinfo>
                      Northern Mariana Islands
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="OH">
                  <xs:annotation>
                    <xs:appinfo>
                      Ohio
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="OK">
                  <xs:annotation>
                    <xs:appinfo>
                      Oklahoma
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="OR">
                  <xs:annotation>
                    <xs:appinfo>
                      Oregon
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="PA">
                  <xs:annotation>
                    <xs:appinfo>
                      Pennsylvania
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="PR">
                  <xs:annotation>
                    <xs:appinfo>
                      Puerto Rico
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="RI">
                  <xs:annotation>
                    <xs:appinfo>
                      Rhode Island
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="SC">
                  <xs:annotation>
                    <xs:appinfo>
                      South Carolina
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="SD">
                  <xs:annotation>
                    <xs:appinfo>
                      South Dakota
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="TN">
                  <xs:annotation>
                    <xs:appinfo>
                      Tennessee
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="TX">
                  <xs:annotation>
                    <xs:appinfo>
                      Texas
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="TT">
                  <xs:annotation>
                    <xs:appinfo>
                      Trust Territory of the Pacific Islands
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="AA">
                  <xs:annotation>
                    <xs:appinfo>
                      U.S. Armed Forces – Americas
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="AE">
                  <xs:annotation>
                    <xs:appinfo>
                      U.S. Armed Forces – Europe
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="AP">
                  <xs:annotation>
                    <xs:appinfo>
                      U.S. Armed Forces – Pacific
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="UT">
                  <xs:annotation>
                    <xs:appinfo>
                      Utah
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="VT">
                  <xs:annotation>
                    <xs:appinfo>
                      Vermont
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="VI">
                  <xs:annotation>
                    <xs:appinfo>
                      Virgin Islands
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="VA">
                  <xs:annotation>
                    <xs:appinfo>
                      Virginia
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="WA">
                  <xs:annotation>
                    <xs:appinfo>
                      Washington
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="WV">
                  <xs:annotation>
                    <xs:appinfo>
                      West Virginia
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="WI">
                  <xs:annotation>
                    <xs:appinfo>
                      Wisconsin
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="WY">
                  <xs:annotation>
                    <xs:appinfo>
                      Wyoming
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element maxOccurs="1" minOccurs="0" name="language" type="xs:language"/>
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>

  <xs:element name="el-2bb59f5a-223e-4b8e-b63f-ed8beb62849e" substitutionGroup="s3m:Items"
    type="s3m:ct-2bb59f5a-223e-4b8e-b63f-ed8beb62849e"/>
  <xs:complexType name="ct-2bb59f5a-223e-4b8e-b63f-ed8beb62849e">
    <!-- Adapter for: State Abbreviation (USPS) -->
    <xs:complexContent>
      <xs:restriction base="s3m:DvAdapterType">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" ref="s3m:el-785c0d1d-fb0c-4424-b967-99ab869c3ab1"/>
          <!-- Reference to: State Abbreviation (USPS) -->
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="ct-68526dd8-c03e-4779-a951-c5e6f85ff509" xml:lang="en-US">
    <!-- Street Number and Name (US) -->
    <xs:annotation>
      <xs:documentation>
      A single line US Street number and name. The typical format is:
123 Main St. 
    </xs:documentation>
      <xs:appinfo>
        <rdf:Description rdf:about="http://www.s3model.com/rm/s3m:ct-68526dd8-c03e-4779-a951-c5e6f85ff509">
          <rdfs:subClassOf rdf:resource="s3m:DvStringType"/>
          <rdfs:label>Street Number and Name (US)</rdfs:label>
        </rdf:Description>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:restriction base="s3m:DvStringType">
        <xs:sequence>
          <xs:element maxOccurs="1" minOccurs="1" name="data-name" type="xs:string"
            fixed="Street Number and Name (US)"/>
          <xs:element maxOccurs="1" minOccurs="0" ref="s3m:ExceptionalValue"/>
          <xs:element maxOccurs="1" minOccurs="0" name="vtb" type="xs:dateTime"/>
          <xs:element maxOccurs="1" minOccurs="0" name="vte" type="xs:dateTime"/>
          <xs:element maxOccurs="1" minOccurs="1" name="dvstring-value" type="xs:string"/>
          <xs:element maxOccurs="1" minOccurs="0" name="language" type="xs:language"/>
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>

  <xs:element name="el-caa2be1d-3e6c-4cea-b44c-9829d7b23b3f" substitutionGroup="s3m:Items"
    type="s3m:ct-caa2be1d-3e6c-4cea-b44c-9829d7b23b3f"/>
  <xs:complexType name="ct-caa2be1d-3e6c-4cea-b44c-9829d7b23b3f">
    <!-- Adapter for: Street Number and Name (US) -->
    <xs:complexContent>
      <xs:restriction base="s3m:DvAdapterType">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" ref="s3m:el-68526dd8-c03e-4779-a951-c5e6f85ff509"/>
          <!-- Reference to: Street Number and Name (US) -->
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="ct-571006b1-b76f-45b5-8a6e-b65d1a0444e0" xml:lang="en-US">
    <!-- Telephone Number (US) -->
    <xs:annotation>
      <xs:documentation>
      A US telephone number. Exactly 12 characters; 111-111-1111 with a pattern match of "[0-9]{3}-[0-9]{3}-[0-9]{4}" 
    </xs:documentation>
      <xs:appinfo>
        <rdf:Description rdf:about="http://www.s3model.com/rm/s3m:ct-571006b1-b76f-45b5-8a6e-b65d1a0444e0">
          <rdfs:subClassOf rdf:resource="s3m:DvStringType"/>
          <rdfs:label>Telephone Number (US)</rdfs:label>
        </rdf:Description>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:restriction base="s3m:DvStringType">
        <xs:sequence>
          <xs:element maxOccurs="1" minOccurs="1" name="data-name" type="xs:string"
            fixed="Telephone Number (US)"/>
          <xs:element maxOccurs="1" minOccurs="0" ref="s3m:ExceptionalValue"/>
          <xs:element maxOccurs="1" minOccurs="0" name="vtb" type="xs:dateTime"/>
          <xs:element maxOccurs="1" minOccurs="0" name="vte" type="xs:dateTime"/>
          <xs:element maxOccurs="1" minOccurs="1" name="dvstring-value"
            default="111-111-1111">
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:pattern value="[0-9]{3}-[0-9]{3}-[0-9]{4}"></xs:pattern>
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element maxOccurs="1" minOccurs="0" name="language" type="xs:language"/>
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>

  <xs:element name="el-13354334-0250-4041-8b6c-ac7eefa93c88" substitutionGroup="s3m:Items"
    type="s3m:ct-13354334-0250-4041-8b6c-ac7eefa93c88"/>
  <xs:complexType name="ct-13354334-0250-4041-8b6c-ac7eefa93c88">
    <!-- Adapter for: Telephone Number (US) -->
    <xs:complexContent>
      <xs:restriction base="s3m:DvAdapterType">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" ref="s3m:el-571006b1-b76f-45b5-8a6e-b65d1a0444e0"/>
          <!-- Reference to: Telephone Number (US) -->
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="ct-4dce9cfe-a0b2-4d52-8739-1e07f92ca305" xml:lang="en-US">
    <!-- Zip Code (US) -->
    <xs:annotation>
      <xs:documentation>
      Used in address cluster for US Zip (postal) Codes. Minimum of 5 characters with a maximum of 10 characters. Accommodates the older 5 character codes or the Zip+4 with the additional 4 characters following a dash. 

Examples:
12345
12345-0987 
    </xs:documentation>
      <xs:appinfo>
        <rdf:Description rdf:about="http://www.s3model.com/rm/s3m:ct-4dce9cfe-a0b2-4d52-8739-1e07f92ca305">
          <rdfs:subClassOf rdf:resource="s3m:DvStringType"/>
          <rdfs:label>Zip Code (US)</rdfs:label>
          <rdfs:isDefinedBy rdf:resource="https%3A//www.usps.com/"/>
        </rdf:Description>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:restriction base="s3m:DvStringType">
        <xs:sequence>
          <xs:element maxOccurs="1" minOccurs="1" name="data-name" type="xs:string" fixed="Zip Code (US)"/>
          <xs:element maxOccurs="1" minOccurs="0" ref="s3m:ExceptionalValue"/>
          <xs:element maxOccurs="1" minOccurs="0" name="vtb" type="xs:dateTime"/>
          <xs:element maxOccurs="1" minOccurs="0" name="vte" type="xs:dateTime"/>
          <xs:element maxOccurs="1" minOccurs="1" name="dvstring-value">
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:pattern value="[0-9]{5}(-[0-9]{4})?"></xs:pattern>
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element maxOccurs="1" minOccurs="0" name="language" type="xs:language"/>
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>

  <xs:element name="el-c64b7604-6189-412d-bb70-48baba85f366" substitutionGroup="s3m:Items"
    type="s3m:ct-c64b7604-6189-412d-bb70-48baba85f366"/>
  <xs:complexType name="ct-c64b7604-6189-412d-bb70-48baba85f366">
    <!-- Adapter for: Zip Code (US) -->
    <xs:complexContent>
      <xs:restriction base="s3m:DvAdapterType">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" ref="s3m:el-4dce9cfe-a0b2-4d52-8739-1e07f92ca305"/>
          <!-- Reference to: Zip Code (US) -->
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>



  <xs:complexType name="ct-5e21cf59-9c13-4f67-918a-e0aee1f64edf">
    <!-- FAD System Location (WGS84) -->
    <xs:annotation>
      <xs:documentation>
      System Location for feeder audit details. Uses decimal format WGS84 lat/lon coordinates.
    </xs:documentation>
      <xs:appinfo>
        <rdf:Description rdf:about="http://www.s3model.com/rm/s3m:ct-5e21cf59-9c13-4f67-918a-e0aee1f64edf">
          <rdfs:subClassOf rdf:resource="s3m:ClusterType"/>
          <rdfs:label>FAD System Location (WGS84)</rdfs:label>
        </rdf:Description>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:restriction base="s3m:ClusterType">
        <xs:sequence>
          <xs:element maxOccurs="1" minOccurs="1" name="cluster-subject" type="xs:string"
            fixed="FAD System Location (WGS84)"/>
          <xs:element maxOccurs="1" minOccurs="0" ref="s3m:el-84a78cf3-028b-4aff-a17c-fb485a582fbd"/>
          <!-- DvString FAD Latitude (Decimal Format) -->
          <xs:element maxOccurs="1" minOccurs="0" ref="s3m:el-5e002578-74dd-4112-be3e-5754454cbf9a"/>
          <!-- DvString FAD Longitude (Decimal Format) -->
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="ct-96ec0cec-0e47-4892-9acb-697be7d51a33" xml:lang="en-US">
    <!-- FAD Latitude (Decimal Format) -->
    <xs:annotation>
      <xs:documentation>
      Matches a latitude in the range of -90 to 90 degrees, with between 1 and 6 trailing decimal places.
    </xs:documentation>
      <xs:appinfo>
        <rdf:Description rdf:about="http://www.s3model.com/rm/s3m:ct-96ec0cec-0e47-4892-9acb-697be7d51a33">
          <rdfs:subClassOf rdf:resource="s3m:DvStringType"/>
          <rdfs:label>FAD Latitude (Decimal Format)</rdfs:label>
        </rdf:Description>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:restriction base="s3m:DvStringType">
        <xs:sequence>
          <xs:element maxOccurs="1" minOccurs="1" name="data-name" type="xs:string"
            fixed="FAD Latitude (Decimal Format)"/>
          <xs:element maxOccurs="1" minOccurs="0" ref="s3m:ExceptionalValue"/>
          <xs:element maxOccurs="1" minOccurs="0" name="vtb" type="xs:dateTime"/>
          <xs:element maxOccurs="1" minOccurs="0" name="vte" type="xs:dateTime"/>
          <xs:element maxOccurs="1" minOccurs="1" name="dvstring-value" type="xs:string"/>         
          <xs:element maxOccurs="1" minOccurs="0" name="language" type="xs:language"/>
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>

  <xs:element name="el-84a78cf3-028b-4aff-a17c-fb485a582fbd" substitutionGroup="s3m:Items"
    type="s3m:ct-84a78cf3-028b-4aff-a17c-fb485a582fbd"/>
  <xs:complexType name="ct-84a78cf3-028b-4aff-a17c-fb485a582fbd">
    <!-- Adapter for: FAD Latitude (Decimal Format) -->
    <xs:complexContent>
      <xs:restriction base="s3m:DvAdapterType">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" ref="s3m:el-96ec0cec-0e47-4892-9acb-697be7d51a33"/>
          <!-- Reference to: FAD Latitude (Decimal Format) -->
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="ct-c265bd07-d470-49b5-99c1-4559f7e9408d" xml:lang="en-US">
    <!-- FAD Longitude (Decimal Format) -->
    <xs:annotation>
      <xs:documentation>
      Matches a longitude in the range of -180 to 180 degrees, with between 1 and 6 trailing decimal places.
    </xs:documentation>
      <xs:appinfo>
        <rdf:Description rdf:about="http://www.s3model.com/rm/s3m:ct-c265bd07-d470-49b5-99c1-4559f7e9408d">
          <rdfs:subClassOf rdf:resource="s3m:DvStringType"/>
          <rdfs:label>FAD Longitude (Decimal Format)</rdfs:label>
        </rdf:Description>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:restriction base="s3m:DvStringType">
        <xs:sequence>
          <xs:element maxOccurs="1" minOccurs="1" name="data-name" type="xs:string"
            fixed="FAD Longitude (Decimal Format)"/>
          <xs:element maxOccurs="1" minOccurs="0" ref="s3m:ExceptionalValue"/>
          <xs:element maxOccurs="1" minOccurs="0" name="vtb" type="xs:dateTime"/>
          <xs:element maxOccurs="1" minOccurs="0" name="vte" type="xs:dateTime"/>
          <xs:element maxOccurs="1" minOccurs="1" name="dvstring-value" type="xs:string"/>
          <xs:element maxOccurs="1" minOccurs="0" name="language" type="xs:language"/>
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>

  <xs:element name="el-5e002578-74dd-4112-be3e-5754454cbf9a" substitutionGroup="s3m:Items"
    type="s3m:ct-5e002578-74dd-4112-be3e-5754454cbf9a"/>
  <xs:complexType name="ct-5e002578-74dd-4112-be3e-5754454cbf9a">
    <!-- Adapter for: FAD Longitude (Decimal Format) -->
    <xs:complexContent>
      <xs:restriction base="s3m:DvAdapterType">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" ref="s3m:el-c265bd07-d470-49b5-99c1-4559f7e9408d"/>
          <!-- Reference to: FAD Longitude (Decimal Format) -->
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>



  <xs:complexType name="ct-76d5279d-8557-4eb7-9722-1ad858c00e3c" xml:lang="en-US">
    <!-- Subject of the Concept (US) -->
    <xs:annotation>
      <xs:documentation>
      A generic Concept provider.
    </xs:documentation>
      <xs:appinfo>
        <rdf:Description rdf:about="http://www.s3model.com/rm/s3m:ct-76d5279d-8557-4eb7-9722-1ad858c00e3c">
          <rdfs:subClassOf rdf:resource="s3m:PartyType"/>
          <rdfs:isDefinedBy rdf:resource="http%3Awww.s3model.com/generic_pcts"/>
        </rdf:Description>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:restriction base="s3m:PartyType">
        <xs:sequence>
          <xs:element maxOccurs="1" minOccurs="1" name="party-name" type="xs:string"/>
          <xs:element maxOccurs="1" minOccurs="0" name="party-ref"
            type="s3m:ct-c35f232c-cbe0-4cd9-a809-bbd34157b962"/>
          <!-- external-ref -->
          <xs:element maxOccurs="1" minOccurs="0" name="party-details"
            type="s3m:ct-38afb8ac-985e-48bc-ab05-45cdecb5f5c2"/>
          <!-- details -->
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>




  <xs:complexType name="ct-c37d801a-9f1b-4ef9-97e4-561bbffb8750" xml:lang="en-US">
    <!-- Concept Participation -->
    <xs:annotation>
      <xs:documentation>
      Concept Participation
    </xs:documentation>
      <xs:appinfo>
        <rdf:Description rdf:about="http://www.s3model.com/rm/s3m:ct-c37d801a-9f1b-4ef9-97e4-561bbffb8750">
          <rdfs:subClassOf rdf:resource="s3m:ParticipationType"/>
        </rdf:Description>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:restriction base="s3m:ParticipationType">
        <xs:sequence>
          <xs:element maxOccurs="1" minOccurs="0" name="performer"
            type="s3m:ct-07d2e2e8-0415-4aa9-8115-a3a818801719"/>
          <!-- performer -->
          <xs:element maxOccurs="1" minOccurs="0" name="function"
            type="s3m:ct-d79c6f0e-10b5-432c-91ef-489ee94d64a7"/>
          <!-- function -->
          <xs:element maxOccurs="1" minOccurs="0" name="mode"
            type="s3m:ct-f34c17e3-c64d-47e9-983c-d88fb8836dba"/>
          <!-- mode -->
          <xs:element maxOccurs="1" minOccurs="0" name="start-time" type="xs:dateTime"/>
          <xs:element maxOccurs="1" minOccurs="0" name="end-time" type="xs:dateTime"/>
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="ct-c37d801a-9f1b-4ef9-97e4-561bbffb8751" xml:lang="en-US">
    <!-- Concept Participation 2 -->
    <xs:annotation>
      <xs:documentation>
        Concept Participation 2
      </xs:documentation>
      <xs:appinfo>
        <rdf:Description rdf:about="http://www.s3model.com/rm/s3m:ct-c37d801a-9f1b-4ef9-97e4-561bbffb8750">
          <rdfs:subClassOf rdf:resource="s3m:ParticipationType"/>
        </rdf:Description>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:restriction base="s3m:ParticipationType">
        <xs:sequence>
          <xs:element maxOccurs="1" minOccurs="0" name="performer"
            type="s3m:ct-07d2e2e8-0415-4aa9-8115-a3a818801719"/>
          <!-- performer -->
          <xs:element maxOccurs="1" minOccurs="0" name="function"
            type="s3m:ct-d79c6f0e-10b5-432c-91ef-489ee94d64a7"/>
          <!-- function -->
          <xs:element maxOccurs="1" minOccurs="0" name="mode"
            type="s3m:ct-f34c17e3-c64d-47e9-983c-d88fb8836dba"/>
          <!-- mode -->
          <xs:element maxOccurs="1" minOccurs="0" name="start-time" type="xs:dateTime"/>
          <xs:element maxOccurs="1" minOccurs="0" name="end-time" type="xs:dateTime"/>
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="ct-07d2e2e8-0415-4aa9-8115-a3a818801719" xml:lang="en-US">
    <!-- Participation Performer -->
    <xs:annotation>
      <xs:documentation>
      A generic Concept provider.
    </xs:documentation>
      <xs:appinfo>
        <rdf:Description rdf:about="http://www.s3model.com/rm/s3m:ct-07d2e2e8-0415-4aa9-8115-a3a818801719">
          <rdfs:subClassOf rdf:resource="s3m:PartyType"/>
          <rdfs:isDefinedBy rdf:resource="http%3Awww.s3model.com/generic_pcts"/>
        </rdf:Description>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:restriction base="s3m:PartyType">
        <xs:sequence>
          <xs:element maxOccurs="1" minOccurs="1" name="party-name" type="xs:string"/>
          <xs:element maxOccurs="1" minOccurs="0" name="party-ref"
            type="s3m:ct-c35f232c-cbe0-4cd9-a809-bbd34157b962"/>
          <!-- external-ref -->
          <xs:element maxOccurs="1" minOccurs="0" name="party-details"
            type="s3m:ct-38afb8ac-985e-48bc-ab05-45cdecb5f5c2"/>
          <!-- details -->
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="ct-d79c6f0e-10b5-432c-91ef-489ee94d64a7" xml:lang="en-US">
    <!-- Participation Function -->
    <xs:annotation>
      <xs:documentation>
      Participation Function
    </xs:documentation>
      <xs:appinfo>
        <rdf:Description rdf:about="http://www.s3model.com/rm/s3m:ct-d79c6f0e-10b5-432c-91ef-489ee94d64a7">
          <rdfs:subClassOf rdf:resource="s3m:DvStringType"/>
          <rdfs:label>Participation Function</rdfs:label>
          <rdfs:isDefinedBy rdf:resource="http%3A//xmlns.com/foaf/spec/%23glance"/>
        </rdf:Description>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:restriction base="s3m:DvStringType">
        <xs:sequence>
          <xs:element maxOccurs="1" minOccurs="1" name="data-name" type="xs:string"
            fixed="Participation Function"/>
          <xs:element maxOccurs="1" minOccurs="0" ref="s3m:ExceptionalValue"/>
          <xs:element maxOccurs="1" minOccurs="0" name="vtb" type="xs:dateTime"/>
          <xs:element maxOccurs="1" minOccurs="0" name="vte" type="xs:dateTime"/>
          <xs:element maxOccurs="1" minOccurs="1" name="dvstring-value">
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:enumeration value="Agent"/>
                <xs:enumeration value="Group"/>
                <xs:enumeration value="Organization"/>
                <xs:enumeration value="Person"/>
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element maxOccurs="1" minOccurs="0" name="language" type="xs:language"/>

        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>



  <xs:complexType name="ct-f34c17e3-c64d-47e9-983c-d88fb8836dba" xml:lang="en-US">
    <!-- Participation Mode -->
    <xs:annotation>
      <xs:documentation>
      A generic definition that the participation mode is some type of agent. 
    </xs:documentation>
      <xs:appinfo>
        <rdf:Description rdf:about="http://www.s3model.com/rm/s3m:ct-f34c17e3-c64d-47e9-983c-d88fb8836dba">
          <rdfs:subClassOf rdf:resource="s3m:DvStringType"/>
          <rdfs:label>Participation Mode</rdfs:label>
        </rdf:Description>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:restriction base="s3m:DvStringType">
        <xs:sequence>
          <xs:element maxOccurs="1" minOccurs="1" name="data-name" type="xs:string" fixed="Participation Mode"/>
          <xs:element maxOccurs="1" minOccurs="0" ref="s3m:ExceptionalValue"/>
          <xs:element maxOccurs="1" minOccurs="0" name="vtb" type="xs:dateTime"/>
          <xs:element maxOccurs="1" minOccurs="0" name="vte" type="xs:dateTime"/>
          <xs:element maxOccurs="1" minOccurs="1" name="dvstring-value">
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:enumeration value="Agent"/>
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element maxOccurs="1" minOccurs="0" name="language" type="xs:language"/>
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>


  <xs:complexType name="ct-39a03554-7f19-4e08-a608-b36e42f1fc15" xml:lang="en-US">
    <!-- Generic Protocol  -->
    <xs:annotation>
      <xs:documentation>
      A reusable system ID for Concept Protocol
    </xs:documentation>
      <xs:appinfo>
        <rdf:Description rdf:about="http://www.s3model.com/rm/s3m:ct-39a03554-7f19-4e08-a608-b36e42f1fc15">
          <rdfs:subClassOf rdf:resource="s3m:DvLinkType"/>
          <rdfs:label>Generic Protocol</rdfs:label>
          <rdfs:isDefinedBy rdf:resource="http%3Awww.s3model.com"/>
        </rdf:Description>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:restriction base="s3m:DvLinkType">
        <xs:sequence>
          <xs:element maxOccurs="1" minOccurs="1" name="data-name" type="xs:string" fixed="Protocol Link"/>
          <xs:element maxOccurs="1" minOccurs="0" ref="s3m:ExceptionalValue"/>
          <xs:element maxOccurs="1" minOccurs="0" name="vtb" type="xs:dateTime"/>
          <xs:element maxOccurs="1" minOccurs="0" name="vte" type="xs:dateTime"/>
          <xs:element maxOccurs="1" minOccurs="1" name="link-value" type="xs:anyURI"/>
          <xs:element maxOccurs="1" minOccurs="1" name="relation" type="xs:string" fixed="information bearer"
          />
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>



  <xs:complexType name="ct-5327bf3f-5ecb-47b5-b358-63bb5f277ddf" xml:lang="en-US">
    <!-- Workflow ID-->
    <xs:annotation>
      <xs:documentation>
      The link points to the workflow definition
    </xs:documentation>
      <xs:appinfo>
        <rdf:Description rdf:about="http://www.s3model.com/rm/s3m:ct-5327bf3f-5ecb-47b5-b358-63bb5f277ddf">
          <rdfs:subClassOf rdf:resource="s3m:DvLinkType"/>
          <rdfs:label>Workflow ID</rdfs:label>
          <rdfs:isDefinedBy rdf:resource="http%3A//purl.obolibrary.org/obo/IAO_0000178"/>
        </rdf:Description>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:restriction base="s3m:DvLinkType">
        <xs:sequence>
          <xs:element maxOccurs="1" minOccurs="1" name="data-name" type="xs:string" fixed="Workflow ID"/>
          <xs:element maxOccurs="1" minOccurs="0" ref="s3m:ExceptionalValue"/>
          <xs:element maxOccurs="1" minOccurs="0" name="vtb" type="xs:dateTime"/>
          <xs:element maxOccurs="1" minOccurs="0" name="vte" type="xs:dateTime"/>
          <xs:element maxOccurs="1" minOccurs="1" name="link-value" type="xs:anyURI"/>
          <xs:element maxOccurs="1" minOccurs="1" name="relation" type="xs:string"
            fixed="material information bearer"/>
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>



  <xs:complexType name="ct-43c7bf17-94e6-46da-ba44-f98d269fcd32" xml:lang="en-US">
    <!-- Attestation -->
    <xs:annotation>
      <xs:documentation>
      A generic attestation. 
    </xs:documentation>
      <xs:appinfo>
        <rdf:Description rdf:about="http://www.s3model.com/rm/s3m:ct-43c7bf17-94e6-46da-ba44-f98d269fcd32">
          <rdfs:subClassOf rdf:resource="s3m:AttestationType"/>
        </rdf:Description>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:restriction base="s3m:AttestationType">
        <xs:sequence>
          <xs:element maxOccurs="1" minOccurs="0" name="attested-view"
            type="s3m:ct-568c4b1f-9b48-472b-a70e-dbd673584ea2"/>
          <!-- attested-view -->
          <xs:element maxOccurs="1" minOccurs="0" name="proof"
            type="s3m:ct-0808d268-7b42-4733-97af-4df7642328ab"/>
          <!-- proof -->
          <xs:element maxOccurs="1" minOccurs="0" name="reason"
            type="s3m:ct-df50a9c7-5071-4ece-934a-e43aeabc704a"/>
          <!-- reason -->
          <xs:element maxOccurs="1" minOccurs="0" name="committer"
            type="s3m:ct-705083b3-ee1e-4713-8685-65198083266a"/>
          <!-- committer -->
          <xs:element maxOccurs="1" minOccurs="0" name="time-committed" type="xs:dateTime"/>
          <xs:element maxOccurs="1" minOccurs="1" default="true" name="is-pending" type="xs:boolean"/>
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>



  <xs:complexType name="ct-568c4b1f-9b48-472b-a70e-dbd673584ea2" xml:lang="en-US">
    <!-- Attestation View -->
    <xs:annotation>
      <xs:documentation>
      A generic container for an attestation view.
    </xs:documentation>
      <xs:appinfo>
        <rdf:Description rdf:about="http://www.s3model.com/rm/s3m:ct-568c4b1f-9b48-472b-a70e-dbd673584ea2">
          <rdfs:subClassOf rdf:resource="s3m:DvMediaType"/>
          <rdfs:label>Attestation View</rdfs:label>
        </rdf:Description>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:restriction base="s3m:DvMediaType">
        <xs:sequence>
          <xs:element maxOccurs="1" minOccurs="1" name="data-name" type="xs:string" fixed="Attestation View"/>
          <xs:element maxOccurs="1" minOccurs="0" ref="s3m:ExceptionalValue"/>
          <xs:element maxOccurs="1" minOccurs="0" name="vtb" type="xs:dateTime"/>
          <xs:element maxOccurs="1" minOccurs="0" name="vte" type="xs:dateTime"/>
          <xs:element maxOccurs="1" minOccurs="1" name="size" type="xs:int"/>
          <xs:element maxOccurs="1" minOccurs="1" name="encoding" type="xs:string" default="utf-8"/>
          <xs:element maxOccurs="1" minOccurs="0" name="language" type="xs:language" default="en-US"/>
          <xs:element maxOccurs="1" minOccurs="0" name="mime-type" type="xs:string"/>
          <xs:element maxOccurs="1" minOccurs="0" name="compression-type" type="xs:string"/>
          <xs:element maxOccurs="1" minOccurs="0" name="hash-result" type="xs:string"/>
          <xs:element maxOccurs="1" minOccurs="0" name="hash-function" type="xs:string" default=""/>
          <xs:element maxOccurs="1" minOccurs="0" name="alt-txt" type="xs:string" default=""/>
          <xs:element maxOccurs="1" minOccurs="0" name="uri" type="xs:anyURI"/>
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="ct-0808d268-7b42-4733-97af-4df7642328ab" xml:lang="en-US">
    <!-- Proof -->
    <xs:annotation>
      <xs:documentation>
      A generic container for an attestation proof document.
    </xs:documentation>
      <xs:appinfo>
        <rdf:Description rdf:about="http://www.s3model.com/rm/s3m:ct-0808d268-7b42-4733-97af-4df7642328ab">
          <rdfs:subClassOf rdf:resource="s3m:DvParsableType"/>
          <rdfs:label>Proof</rdfs:label>
        </rdf:Description>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:restriction base="s3m:DvParsableType">
        <xs:sequence>
          <xs:element maxOccurs="1" minOccurs="1" name="data-name" type="xs:string" fixed="Proof"/>
          <xs:element maxOccurs="1" minOccurs="0" ref="s3m:ExceptionalValue"/>
          <xs:element maxOccurs="1" minOccurs="0" name="vtb" type="xs:dateTime"/>
          <xs:element maxOccurs="1" minOccurs="0" name="vte" type="xs:dateTime"/>
          <xs:element maxOccurs="1" minOccurs="1" name="size" type="xs:int"/>
          <xs:element maxOccurs="1" minOccurs="1" name="encoding" type="xs:string" default="utf-8"/>
          <xs:element maxOccurs="1" minOccurs="0" name="language" type="xs:language" default="en-US"/>
          <xs:element maxOccurs="1" minOccurs="0" name="dvparsable-value" type="xs:string"/>
          <xs:element maxOccurs="1" minOccurs="1" name="formalism" type="xs:string"/>
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="ct-df50a9c7-5071-4ece-934a-e43aeabc704a" xml:lang="en-US">
    <!-- Attestation Reason -->
    <xs:annotation>
      <xs:documentation>
      A finalized release of some information entity.
    </xs:documentation>
      <xs:appinfo>
        <rdf:Description rdf:about="http://www.s3model.com/rm/s3m:ct-df50a9c7-5071-4ece-934a-e43aeabc704a">
          <rdfs:subClassOf rdf:resource="s3m:DvStringType"/>
          <rdfs:label>Attestation Reason</rdfs:label>
          <rdfs:isDefinedBy rdf:resource="http%3A//usefulinc.com/ns/doap%2523release"/>
        </rdf:Description>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:restriction base="s3m:DvStringType">
        <xs:sequence>
          <xs:element maxOccurs="1" minOccurs="1" name="data-name" type="xs:string" fixed="Attestation Reason"/>
          <xs:element maxOccurs="1" minOccurs="0" ref="s3m:ExceptionalValue"/>
          <xs:element maxOccurs="1" minOccurs="0" name="vtb" type="xs:dateTime"/>
          <xs:element maxOccurs="1" minOccurs="0" name="vte" type="xs:dateTime"/>
          <xs:element maxOccurs="1" minOccurs="1" name="dvstring-value">
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:enumeration value="release"/>
                <xs:enumeration value="closed"/>
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element maxOccurs="1" minOccurs="0" name="language" type="xs:language"/>
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="ct-705083b3-ee1e-4713-8685-65198083266a" xml:lang="en-US">
    <!-- Attestation Committer -->
    <xs:annotation>
      <xs:documentation>
      A generic Concept provider.
    </xs:documentation>
      <xs:appinfo>
        <rdf:Description rdf:about="http://www.s3model.com/rm/s3m:ct-705083b3-ee1e-4713-8685-65198083266a">
          <rdfs:subClassOf rdf:resource="s3m:PartyType"/>
          <rdfs:isDefinedBy rdf:resource="http%3Awww.s3model.com/generic_pcts"/>
        </rdf:Description>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:restriction base="s3m:PartyType">
        <xs:sequence>
          <xs:element maxOccurs="1" minOccurs="1" name="party-name" type="xs:string"/>
          <xs:element maxOccurs="1" minOccurs="0" name="party-ref"
            type="s3m:ct-c35f232c-cbe0-4cd9-a809-bbd34157b962"/>
          <!-- external-ref -->
          <xs:element maxOccurs="1" minOccurs="0" name="party-details"
            type="s3m:ct-38afb8ac-985e-48bc-ab05-45cdecb5f5c2"/>
          <!-- details -->
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>



  <xs:complexType name="ct-96f910e1-8f1e-4a54-a19f-47722ddd91d3">
    <!--Concept Data -->
    <xs:annotation>
      <xs:documentation>
      Test Concept Data
    </xs:documentation>
      <xs:appinfo>
        <rdf:Description rdf:about="http://www.s3model.com/rm/s3m:ct-96f910e1-8f1e-4a54-a19f-47722ddd91d3">
          <rdfs:subClassOf rdf:resource="s3m:ClusterType"/>
          <rdfs:label>Concept Data</rdfs:label>
          <rdfs:isDefinedBy rdf:resource="http%3Awww.s3model.com/test_pcts"/>
        </rdf:Description>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:restriction base="s3m:ClusterType">
        <xs:sequence>
          <xs:element maxOccurs="1" minOccurs="1" name="cluster-subject" type="xs:string"
            fixed="Test Concept Data"/>
          <xs:element maxOccurs="1" minOccurs="0" ref="s3m:el-697e8df2-7890-4f44-8442-e7f2beab4425"/>
          <!-- DvBoolean Fever duration: 3 weeks or less-->
          <xs:element maxOccurs="1" minOccurs="0" ref="s3m:el-d05d35e1-4452-47a4-a7c5-58d1aac8bf64"/>
          <!-- DvBoolean Test DvBoolean-->
          <xs:element maxOccurs="1" minOccurs="0" ref="s3m:el-e9cbb207-9e89-416c-8b71-7cdb859b3097"/>
          <!-- DvString Blood Pressure Device -->
          <xs:element maxOccurs="1" minOccurs="0" ref="s3m:el-78f38614-fce7-463c-a332-f4846d00818a"/>
          <!-- DvQuantity Body Temperature -->
          <xs:element maxOccurs="1" minOccurs="0" ref="s3m:el-d4fd6e5a-875e-4512-8bdd-492498237341"/>
          <!-- DvCount Heart Rate -->
          <xs:element maxOccurs="1" minOccurs="0" ref="s3m:el-90d5df6f-b3ef-4d53-93d2-de4a5afdb18f"/>
          <!-- DvRatio Test Ratio -->
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>

  <xs:element name="el-d4fd6e5a-875e-4512-8bdd-492498237341" substitutionGroup="s3m:Items"
    type="s3m:ct-d4fd6e5a-875e-4512-8bdd-492498237341"/>
  <xs:complexType name="ct-d4fd6e5a-875e-4512-8bdd-492498237341">
    <!-- Adapter for: Heart Rate -->
    <xs:complexContent>
      <xs:restriction base="s3m:DvAdapterType">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" ref="s3m:el-7146bea3-49d6-4d6b-be66-cf1a16ebac4d"/>
          <!-- Reference to: Heart Rate for Testing 2.4.6 -->
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>


  <xs:complexType name="ct-7146bea3-49d6-4d6b-be66-cf1a16ebac4d" xml:lang="en-US">
    <!-- Heart Rate for Testing 2.4.6 -->
    <xs:annotation>
      <xs:documentation>
        Test PcT of Heart Rate.
      </xs:documentation>
      <xs:appinfo>
        <rdf:Description rdf:about="http://www.mlhim.org/xmlns/s3m:ct-7146bea3-49d6-4d6b-be66-cf1a16ebac4d">
          <rdfs:subClassOf rdf:resource="s3m:DvCountType"/>
          <rdfs:label>Heart Rate for Testing 2.4.6</rdfs:label>
        </rdf:Description>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:restriction base="s3m:DvCountType">
        <xs:sequence>
          <xs:element maxOccurs="1" minOccurs="1" name="data-name" type="xs:string"
            fixed="Heart Rate for Testing 2.4.6"/>
          <xs:element maxOccurs="1" minOccurs="0" ref="s3m:ExceptionalValue"/>
          <xs:element maxOccurs="1" minOccurs="0" name="vtb" type="xs:dateTime"/>
          <xs:element maxOccurs="1" minOccurs="0" name="vte" type="xs:dateTime"/>
          <xs:element maxOccurs="1" minOccurs="0" name="reference-range"
            type="s3m:ct-76417a55-6ebd-49ce-8db7-8253a9e02e1f"/>
          <xs:element maxOccurs="1" minOccurs="0" name="normal-status" type="xs:string"
            default="Normal heart rate"/>
          <xs:element maxOccurs="1" minOccurs="1" name="magnitude" type="xs:decimal"/>
          <xs:element maxOccurs="1" minOccurs="0" name="magnitude-status" type="s3m:MagnitudeStatus"/>
          <xs:element maxOccurs="1" minOccurs="1" name="error" type="xs:int" default="0"/>
          <xs:element maxOccurs="1" minOccurs="1" name="accuracy" type="xs:int" default="0"/>
          <xs:element maxOccurs="1" minOccurs="1" name="units"
            type="s3m:ct-8e63854d-e78a-43e0-944f-3c14767edb39"/>
          <!-- DvCount-units -->
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>


  <xs:complexType name="ct-5f5d5ee5-71d1-4d23-befc-77b69b208321" xml:lang="en-US">
    <!-- Test Ratio -->
    <xs:annotation>
      <xs:documentation>
        A DvRatio for testing.
      </xs:documentation>
      <xs:appinfo>
        <rdf:Description rdf:about="http://www.mlhim.org/xmlns/s3m:ct-5f5d5ee5-71d1-4d23-befc-77b69b208321">
          <rdfs:subClassOf rdf:resource="s3m:DvRatioType"/>
          <rdfs:label>Test Ratio</rdfs:label>
        </rdf:Description>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:restriction base="s3m:DvRatioType">
        <xs:sequence>
          <xs:element maxOccurs="1" minOccurs="1" name="data-name" type="xs:string" fixed="Test Ratio"/>
          <xs:element maxOccurs="1" minOccurs="0" ref="s3m:ExceptionalValue"/>
          <xs:element maxOccurs="1" minOccurs="0" name="vtb" type="xs:dateTime"/>
          <xs:element maxOccurs="1" minOccurs="0" name="vte" type="xs:dateTime"/>
          <xs:element maxOccurs="1" minOccurs="0" name="reference-range"
            type="s3m:ct-76417a55-6ebd-49ce-8db7-8253a9e02e1f"/>
          <!-- reference-ranges -->
          <xs:element maxOccurs="1" minOccurs="0" name="normal-status" type="xs:string" default=""/>
          <xs:element maxOccurs="1" minOccurs="0" name="magnitude" type="xs:decimal"/>
          <xs:element maxOccurs="1" minOccurs="0" name="magnitude-status" type="s3m:MagnitudeStatus"/>
          <xs:element maxOccurs="1" minOccurs="1" name="error" type="xs:int" default="0"/>
          <xs:element maxOccurs="1" minOccurs="1" name="accuracy" type="xs:int" default="0"/>
          <xs:element maxOccurs="1" minOccurs="1" name="ratio-type" type="s3m:RatioType" fixed="ratio"/>
          <xs:element maxOccurs="1" minOccurs="0" name="numerator" type="xs:decimal"/>
          <xs:element maxOccurs="1" minOccurs="0" name="denominator" type="xs:decimal"/>
          <xs:element maxOccurs="1" minOccurs="0" name="numerator-units"
            type="s3m:ct-8e63854d-e78a-43e0-944f-3c14767edb39"/>
          <xs:element maxOccurs="1" minOccurs="0" name="denominator-units"
            type="s3m:ct-8e63854d-e78a-43e0-944f-3c14767edb39"/>
          <xs:element maxOccurs="1" minOccurs="0" name="ratio-units"
            type="s3m:ct-8e63854d-e78a-43e0-944f-3c14767edb39"/>
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>

  <xs:element name="el-90d5df6f-b3ef-4d53-93d2-de4a5afdb18f" substitutionGroup="s3m:Items"
    type="s3m:ct-90d5df6f-b3ef-4d53-93d2-de4a5afdb18f"/>
  <xs:complexType name="ct-90d5df6f-b3ef-4d53-93d2-de4a5afdb18f">
    <!-- Adapter for: Test Ratio -->
    <xs:complexContent>
      <xs:restriction base="s3m:DvAdapterType">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" ref="s3m:el-5f5d5ee5-71d1-4d23-befc-77b69b208321"/>
          <!-- Reference to: Test Ratio -->
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>


  <xs:complexType name="ct-50a5e871-27b9-41a4-a97a-dd35555015cd" xml:lang="en-US">
    <!-- Body Temperature - Test 2.4.6 -->
    <xs:annotation>
      <xs:documentation>
        The numeric value of a person's body temperature.
      </xs:documentation>
      <xs:appinfo>
        <rdf:Description rdf:about="http://www.mlhim.org/xmlns/s3m:ct-50a5e871-27b9-41a4-a97a-dd35555015cd">
          <rdfs:subClassOf rdf:resource="s3m:DvQuantityType"/>
          <rdfs:label>Body Temperature - Test 2.4.6</rdfs:label>
          <rdfs:isDefinedBy
            rdf:resource="https%3A//cdebrowser.nci.nih.gov/CDEBrowser/search%3FelementDetails%3D9%26FirstTimer%3D0%26PageId%3DElementDetailsGroup%26publicId%3D2644401%26version%3D1.0"
          />
        </rdf:Description>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:restriction base="s3m:DvQuantityType">
        <xs:sequence>
          <xs:element maxOccurs="1" minOccurs="1" name="data-name" type="xs:string" fixed="Body Temperature"/>
          <xs:element maxOccurs="1" minOccurs="0" ref="s3m:ExceptionalValue"/>
          <xs:element maxOccurs="1" minOccurs="0" name="vtb" type="xs:dateTime"/>
          <xs:element maxOccurs="1" minOccurs="0" name="vte" type="xs:dateTime"/>
          <xs:element maxOccurs="1" minOccurs="0" name="reference-range"
            type="s3m:ct-76417a55-6ebd-49ce-8db7-8253a9e02e1f"/>
          <!-- Ranges -->
          <xs:element maxOccurs="1" minOccurs="0" name="normal-status" type="xs:string" default=""/>
          <xs:element maxOccurs="1" minOccurs="1" name="magnitude">
            <xs:simpleType>
              <xs:restriction base="xs:decimal">
                <xs:totalDigits value="3"/>
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element maxOccurs="1" minOccurs="0" name="magnitude-status" type="s3m:MagnitudeStatus"/>
          <xs:element maxOccurs="1" minOccurs="1" name="error" type="xs:int" default="0"/>
          <xs:element maxOccurs="1" minOccurs="1" name="accuracy" type="xs:int" default="0"/>
          <xs:element maxOccurs="1" minOccurs="1" name="units"
            type="s3m:ct-8e63854d-e78a-43e0-944f-3c14767edb39"/>
          <!-- DvQuantity-units -->
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>

  <xs:element name="el-78f38614-fce7-463c-a332-f4846d00818a" substitutionGroup="s3m:Items"
    type="s3m:ct-78f38614-fce7-463c-a332-f4846d00818a"/>
  <xs:complexType name="ct-78f38614-fce7-463c-a332-f4846d00818a">
    <!-- Adapter for: Body Temperature -->
    <xs:complexContent>
      <xs:restriction base="s3m:DvAdapterType">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" ref="s3m:el-50a5e871-27b9-41a4-a97a-dd35555015cd"/>
          <!-- Reference to: Body Temperature -->
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="ct-76417a55-6ebd-49ce-8db7-8253a9e02e1f" xml:lang="en-US">
    <!-- Test ReferenceRange -->
    <xs:annotation>
      <xs:documentation>
        ReferenceRange for testing only.
      </xs:documentation>
      <xs:appinfo>
        <rdf:Description rdf:about="http://www.mlhim.org/xmlns/s3m:ct-76417a55-6ebd-49ce-8db7-8253a9e02e1f">
          <rdfs:subClassOf rdf:resource="s3m:ReferenceRangeType"/>
          <rdfs:label>Test ReferenceRange</rdfs:label>
        </rdf:Description>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:restriction base="s3m:ReferenceRangeType">
        <xs:sequence>
          <xs:element maxOccurs="1" minOccurs="1" name="data-name" type="xs:string"
            fixed="Test ReferenceRange"/>
          <xs:element maxOccurs="1" minOccurs="0" ref="s3m:ExceptionalValue"/>
          <xs:element maxOccurs="1" minOccurs="0" name="vtb" type="xs:dateTime"/>
          <xs:element maxOccurs="1" minOccurs="0" name="vte" type="xs:dateTime"/>
          <xs:element maxOccurs="1" minOccurs="1" name="definition" type="xs:string"
            fixed="ReferenceRange for testing only."/>
          <xs:element maxOccurs="1" minOccurs="1" name="data-range"
            type="s3m:ct-c3441ee3-baf4-4fb3-80c3-87b511ebd970"/>
          <!-- data-range -->
          <xs:element maxOccurs="1" minOccurs="1" name="is-normal" type="xs:boolean" fixed="false"/>
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="ct-8e63854d-e78a-43e0-944f-3c14767edb39" xml:lang="en-US">
    <!-- bpm Test -->
    <xs:annotation>
      <xs:documentation>
        Beats per minute (for heart rate)
      </xs:documentation>
      <xs:appinfo>
        <rdf:Description rdf:about="http://www.mlhim.org/xmlns/s3m:ct-8e63854d-e78a-43e0-944f-3c14767edb39">
          <rdfs:subClassOf rdf:resource="s3m:DvStringType"/>
          <rdfs:label>bpm Test 2.4.6</rdfs:label>
        </rdf:Description>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:restriction base="s3m:DvStringType">
        <xs:sequence>
          <xs:element maxOccurs="1" minOccurs="1" name="data-name" type="xs:string" fixed="bpm Test 2.4.6"/>
          <xs:element maxOccurs="1" minOccurs="0" ref="s3m:ExceptionalValue"/>
          <xs:element maxOccurs="1" minOccurs="0" name="vtb" type="xs:dateTime"/>
          <xs:element maxOccurs="1" minOccurs="0" name="vte" type="xs:dateTime"/>
          <xs:element maxOccurs="1" minOccurs="1" name="dvstring-value">
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:enumeration value="bpm">
                  <xs:annotation>
                    <xs:appinfo>
                      bpm
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element maxOccurs="1" minOccurs="0" name="language" type="xs:language"/>
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>



  <xs:complexType name="ct-eeaddd88-4a85-4e27-9ece-337f910ef81b" xml:lang="en-US">
    <!-- Fever duration: 3 weeks or less - Test 2.4.6 -->
    <xs:annotation>
      <xs:documentation>
      Yes/No field for the duration of the fever. It should be filled when the date of onset of the fever is not known.
    </xs:documentation>
      <xs:appinfo>
        <rdf:Description rdf:about="http://www.s3model.com/rm/s3m:ct-eeaddd88-4a85-4e27-9ece-337f910ef81b">
          <rdfs:subClassOf rdf:resource="s3m:DvBooleanType"/>
          <rdfs:label>Fever duration: 3 weeks or less</rdfs:label>
          <rdfs:isDefinedBy
            rdf:resource="http%3A//bvsms.saude.gov.br/bvs/periodicos/boletim_eletronico_epi_ano04_n04.pdf"/>
        </rdf:Description>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:restriction base="s3m:DvBooleanType">
        <xs:sequence>
          <xs:element maxOccurs="1" minOccurs="1" name="data-name" type="xs:string"
            fixed="Fever duration: 3 weeks or less"/>
          <xs:element maxOccurs="1" minOccurs="0" ref="s3m:ExceptionalValue"/>
          <xs:element maxOccurs="1" minOccurs="0" name="vtb" type="xs:dateTime"/>
          <xs:element maxOccurs="1" minOccurs="0" name="vte" type="xs:dateTime"/>
          <xs:choice>
            <xs:element maxOccurs="1" minOccurs="0" name="true-value">
              <xs:simpleType>
                <xs:restriction base="xs:string">
                  <xs:enumeration value="YES"/>
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="false-value">
              <xs:simpleType>
                <xs:restriction base="xs:string">
                  <xs:enumeration value="NO"/>
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
          </xs:choice>
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>

  <xs:element name="el-697e8df2-7890-4f44-8442-e7f2beab4425" substitutionGroup="s3m:Items"
    type="s3m:ct-697e8df2-7890-4f44-8442-e7f2beab4425"/>
  <xs:complexType name="ct-697e8df2-7890-4f44-8442-e7f2beab4425">
    <!-- Adapter for: Fever duration: 3 weeks or less-->
    <xs:complexContent>
      <xs:restriction base="s3m:DvAdapterType">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" ref="s3m:el-eeaddd88-4a85-4e27-9ece-337f910ef81b"/>
          <!-- Reference to: Fever duration: 3 weeks or less-->
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>



  <xs:complexType name="ct-a68202e8-f161-4c80-931c-b97d9eb2b22b" xml:lang="en-US">
    <!-- Test DvBoolean-->
    <xs:annotation>
      <xs:documentation>
      A test DvBoolean
    </xs:documentation>
      <xs:appinfo>
        <rdf:Description rdf:about="http://www.s3model.com/rm/s3m:ct-a68202e8-f161-4c80-931c-b97d9eb2b22b">
          <rdfs:subClassOf rdf:resource="s3m:DvBooleanType"/>
          <rdfs:label>Test DvBoolean</rdfs:label>
        </rdf:Description>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:restriction base="s3m:DvBooleanType">
        <xs:sequence>
          <xs:element maxOccurs="1" minOccurs="1" name="data-name" type="xs:string" fixed="Test DvBoolean"/>
          <xs:element maxOccurs="1" minOccurs="0" ref="s3m:ExceptionalValue"/>
          <xs:element maxOccurs="1" minOccurs="0" name="vtb" type="xs:dateTime"/>
          <xs:element maxOccurs="1" minOccurs="0" name="vte" type="xs:dateTime"/>
          <xs:choice>
            <xs:element maxOccurs="1" minOccurs="0" name="true-value">
              <xs:simpleType>
                <xs:restriction base="xs:string">
                  <xs:enumeration value="Yes"/>
                  <xs:enumeration value="Sim"/>
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="false-value">
              <xs:simpleType>
                <xs:restriction base="xs:string">
                  <xs:enumeration value="No"/>
                  <xs:enumeration value="Não"/>
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
          </xs:choice>
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>

  <xs:element name="el-d05d35e1-4452-47a4-a7c5-58d1aac8bf64" substitutionGroup="s3m:Items"
    type="s3m:ct-d05d35e1-4452-47a4-a7c5-58d1aac8bf64"/>
  <xs:complexType name="ct-d05d35e1-4452-47a4-a7c5-58d1aac8bf64">
    <!-- Adapter for: Test DvBoolean-->
    <xs:complexContent>
      <xs:restriction base="s3m:DvAdapterType">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" ref="s3m:el-a68202e8-f161-4c80-931c-b97d9eb2b22b"/>
          <!-- Reference to: Test DvBoolean -->
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="ct-8ae6d78b-394b-455e-a5e4-f55897f92a77" xml:lang="en-US">
    <!-- Blood Pressure Device (Test 2.4.6) -->
    <xs:annotation>
      <xs:documentation>
      The device use in taking a blood pressure measurement.
    </xs:documentation>
      <xs:appinfo>
        <rdf:Description rdf:about="http://www.s3model.com/rm/s3m:ct-8ae6d78b-394b-455e-a5e4-f55897f92a77">
          <rdfs:subClassOf rdf:resource="s3m:DvStringType"/>
          <rdfs:label>Blood Pressure Device </rdfs:label>
          <rdfs:isDefinedBy rdf:resource="http%3Awww.s3model.com/test_pcts"/>
        </rdf:Description>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:restriction base="s3m:DvStringType">
        <xs:sequence>
          <xs:element maxOccurs="1" minOccurs="1" name="data-name" type="xs:string"
            fixed="Blood Pressure Device"/>
          <xs:element maxOccurs="1" minOccurs="0" ref="s3m:ExceptionalValue"/>
          <xs:element maxOccurs="1" minOccurs="0" name="vtb" type="xs:dateTime"/>
          <xs:element maxOccurs="1" minOccurs="0" name="vte" type="xs:dateTime"/>
          <xs:element maxOccurs="1" minOccurs="1" name="dvstring-value">
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:enumeration value="Mercury sphygmomanometer">
                  <xs:annotation>
                    <xs:appinfo>
                      Mercury sphygmomanometer
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="Aneroid sphygmomanometer">
                  <xs:annotation>
                    <xs:appinfo>
                      Aneroid sphygmomanometer
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="Digital">
                  <xs:annotation>
                    <xs:appinfo>
                      Digital
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element maxOccurs="1" minOccurs="0" name="language" type="xs:language"/>
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>

  <xs:element name="el-e9cbb207-9e89-416c-8b71-7cdb859b3097" substitutionGroup="s3m:Items"
    type="s3m:ct-e9cbb207-9e89-416c-8b71-7cdb859b3097"/>
  <xs:complexType name="ct-e9cbb207-9e89-416c-8b71-7cdb859b3097">
    <!-- Adapter for: Blood Pressure Device -->
    <xs:complexContent>
      <xs:restriction base="s3m:DvAdapterType">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" ref="s3m:el-8ae6d78b-394b-455e-a5e4-f55897f92a77"/>
          <!-- Reference to: Blood Pressure Device -->
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ct-c3441ee3-baf4-4fb3-80c3-87b511ebd970" xml:lang="en-US">
    <!-- Gestational Age -->
    <xs:annotation>
      <xs:documentation>
        The final result of a determination of the value for the period of fetal development in the uterus from the start of conception until its birth.
      </xs:documentation>
      <xs:appinfo>
        <rdf:Description rdf:about="http://www.mlhim.org/xmlns/s3m:ct-c3441ee3-baf4-4fb3-80c3-87b511ebd970">
          <rdfs:subClassOf rdf:resource="s3m:DvIntervalType"/>
          <rdfs:label>Gestational Age - Test 2.4.6</rdfs:label>
          <rdfs:isDefinedBy
            rdf:resource="https%3A//cdebrowser.nci.nih.gov/CDEBrowser/search%3FelementDetails%3D9%26FirstTimer%3D0%26PageId%3DElementDetailsGroup%26publicId%3D3192017%26version%3D1.0"
          />
        </rdf:Description>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:restriction base="s3m:DvIntervalType">
        <xs:sequence>
          <xs:element maxOccurs="1" minOccurs="1" name="data-name" type="xs:string"
            fixed="Gestational Age - Test 2.4.6"/>
          <xs:element maxOccurs="1" minOccurs="0" ref="s3m:ExceptionalValue"/>
          <xs:element maxOccurs="1" minOccurs="0" name="vtb" type="xs:dateTime"/>
          <xs:element maxOccurs="1" minOccurs="0" name="vte" type="xs:dateTime"/>
          <xs:element maxOccurs="1" minOccurs="1" name="lower"
            type="s3m:ct-93154c67-5331-4753-a191-c99bdd313040"/>
          <xs:element maxOccurs="1" minOccurs="1" name="upper"
            type="s3m:ct-e37c6d66-6ab8-4b23-b616-68c21bc2fe3d"/>
          <xs:element maxOccurs="1" minOccurs="1" name="lower-included" type="xs:boolean" fixed="true"/>
          <xs:element maxOccurs="1" minOccurs="1" name="upper-included" type="xs:boolean" fixed="true"/>
          <xs:element maxOccurs="1" minOccurs="1" name="lower-bounded" type="xs:boolean" fixed="true"/>
          <xs:element maxOccurs="1" minOccurs="1" name="upper-bounded" type="xs:boolean" fixed="true"/>
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="ct-93154c67-5331-4753-a191-c99bdd313040">
    <!-- interval lower -->
    <xs:complexContent>
      <xs:restriction base="s3m:InvlType">
        <xs:choice>
          <xs:element maxOccurs="1" minOccurs="1" name="invl-int" type="xs:int" fixed="0"/>
        </xs:choice>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="ct-e37c6d66-6ab8-4b23-b616-68c21bc2fe3d">
    <!-- interval upper -->
    <xs:complexContent>
      <xs:restriction base="s3m:InvlType">
        <xs:choice>
          <xs:element maxOccurs="1" minOccurs="1" name="invl-int" type="xs:int" fixed="2"/>
        </xs:choice>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>

  <xs:element name="el-5f69d093-dfbc-4c07-be7f-ed96c9db5f1f" substitutionGroup="s3m:Link"
    type="s3m:ct-5f69d093-dfbc-4c07-be7f-ed96c9db5f1f"/>
  <xs:element name="el-7b1c4fad-90f9-4d28-af58-3e59ecb00066" substitutionGroup="s3m:Link"
    type="s3m:ct-7b1c4fad-90f9-4d28-af58-3e59ecb00066"/>
  <xs:element name="el-66977c1c-2da0-4cd9-ba0b-aa90a2943a16" substitutionGroup="s3m:Audit"
    type="s3m:ct-66977c1c-2da0-4cd9-ba0b-aa90a2943a16"/>
  <xs:element name="el-53e08f93-1549-4303-9212-74ed11ed7d3a" substitutionGroup="s3m:System-id"
    type="s3m:ct-53e08f93-1549-4303-9212-74ed11ed7d3a"/>
  <xs:element name="el-1386c587-b06f-4de5-ab67-30ecd036902e" substitutionGroup="s3m:System-user"
    type="s3m:ct-1386c587-b06f-4de5-ab67-30ecd036902e"/>
  <xs:element name="el-5f5d5ee5-71d1-4d23-befc-77b69b208321" substitutionGroup="s3m:DvAdapter-value"
    type="s3m:ct-5f5d5ee5-71d1-4d23-befc-77b69b208321"/>
  <xs:element name="el-74cb0edc-76c3-45d2-bd36-13b10cdc289d" substitutionGroup="s3m:DvAdapter-value"
    type="s3m:ct-74cb0edc-76c3-45d2-bd36-13b10cdc289d"/>
  <xs:element name="el-4bce07e8-9bae-45e8-bf80-4db86b57bc93" substitutionGroup="s3m:DvAdapter-value"
    type="s3m:ct-4bce07e8-9bae-45e8-bf80-4db86b57bc93"/>
  <xs:element name="el-d1a90620-0c72-4aa2-ac6a-53c2b839b414" substitutionGroup="s3m:DvAdapter-value"
    type="s3m:ct-d1a90620-0c72-4aa2-ac6a-53c2b839b414"/>
  <xs:element name="el-785c0d1d-fb0c-4424-b967-99ab869c3ab1" substitutionGroup="s3m:DvAdapter-value"
    type="s3m:ct-785c0d1d-fb0c-4424-b967-99ab869c3ab1"/>
  <xs:element name="el-68526dd8-c03e-4779-a951-c5e6f85ff509" substitutionGroup="s3m:DvAdapter-value"
    type="s3m:ct-68526dd8-c03e-4779-a951-c5e6f85ff509"/>
  <xs:element name="el-571006b1-b76f-45b5-8a6e-b65d1a0444e0" substitutionGroup="s3m:DvAdapter-value"
    type="s3m:ct-571006b1-b76f-45b5-8a6e-b65d1a0444e0"/>
  <xs:element name="el-4dce9cfe-a0b2-4d52-8739-1e07f92ca305" substitutionGroup="s3m:DvAdapter-value"
    type="s3m:ct-4dce9cfe-a0b2-4d52-8739-1e07f92ca305"/>
  <xs:element name="el-5e21cf59-9c13-4f67-918a-e0aee1f64edf" substitutionGroup="s3m:Location"
    type="s3m:ct-5e21cf59-9c13-4f67-918a-e0aee1f64edf"/>
  <xs:element name="el-96ec0cec-0e47-4892-9acb-697be7d51a33" substitutionGroup="s3m:DvAdapter-value"
    type="s3m:ct-96ec0cec-0e47-4892-9acb-697be7d51a33"/>
  <xs:element name="el-c265bd07-d470-49b5-99c1-4559f7e9408d" substitutionGroup="s3m:DvAdapter-value"
    type="s3m:ct-c265bd07-d470-49b5-99c1-4559f7e9408d"/>
  <xs:element name="el-c37d801a-9f1b-4ef9-97e4-561bbffb8750" substitutionGroup="s3m:Participation"
    type="s3m:ct-c37d801a-9f1b-4ef9-97e4-561bbffb8750"/>
  <xs:element name="el-c37d801a-9f1b-4ef9-97e4-561bbffb8751" substitutionGroup="s3m:Participation"
    type="s3m:ct-c37d801a-9f1b-4ef9-97e4-561bbffb8751"/>
  <xs:element name="el-43c7bf17-94e6-46da-ba44-f98d269fcd32" substitutionGroup="s3m:Attestation"
    type="s3m:ct-43c7bf17-94e6-46da-ba44-f98d269fcd32"/>
  <xs:element name="el-eeaddd88-4a85-4e27-9ece-337f910ef81b" substitutionGroup="s3m:DvAdapter-value"
    type="s3m:ct-eeaddd88-4a85-4e27-9ece-337f910ef81b"/>
  <xs:element name="el-a68202e8-f161-4c80-931c-b97d9eb2b22b" substitutionGroup="s3m:DvAdapter-value"
    type="s3m:ct-a68202e8-f161-4c80-931c-b97d9eb2b22b"/>
  <xs:element name="el-8ae6d78b-394b-455e-a5e4-f55897f92a77" substitutionGroup="s3m:DvAdapter-value"
    type="s3m:ct-8ae6d78b-394b-455e-a5e4-f55897f92a77"/>
  <xs:element name="el-50a5e871-27b9-41a4-a97a-dd35555015cd" substitutionGroup="s3m:DvAdapter-value"
    type="s3m:ct-50a5e871-27b9-41a4-a97a-dd35555015cd"/>
  <xs:element name="el-c3441ee3-baf4-4fb3-80c3-87b511ebd970" substitutionGroup="s3m:DvInterval"
    type="s3m:ct-c3441ee3-baf4-4fb3-80c3-87b511ebd970"/>
  <xs:element name="el-76417a55-6ebd-49ce-8db7-8253a9e02e1f" substitutionGroup="s3m:ReferenceRange"
    type="s3m:ct-76417a55-6ebd-49ce-8db7-8253a9e02e1f"/>
  <xs:element name="el-7146bea3-49d6-4d6b-be66-cf1a16ebac4d" substitutionGroup="s3m:DvAdapter-value"
    type="s3m:ct-7146bea3-49d6-4d6b-be66-cf1a16ebac4d"/>

  <xs:element name="el-15ca606c-303a-4862-8f5e-df8f39e8bfc3" substitutionGroup="s3m:Concept"
    type="s3m:ct-15ca606c-303a-4862-8f5e-df8f39e8bfc3"/>
</xs:schema>
